<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('views.resume') }}">Моє резюме</a>
    <div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('posts.posts') }}">Пости</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('views.resume') }}">Резюме</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('views.contacts') }}">Контакти</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('users.profile') }}">Профіль</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}">Логін</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('users.theme') }}">Тема</a></li>
      </ul>
    </div>
  </div>
</nav>