{% extends "base.html" %}
{% from "components/form_field.html" import render_field %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="mb-4 text-center">Вхід у систему</h2>

    <form action="{{ url_for('users.login') }}" method="POST" novalidate>
         {{ form.csrf_token }}

        {{ render_field(form.username) }}
        {{ render_field(form.password) }}

        <div class="form-check mb-3">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>

        {{ form.submit(class="btn btn-primary w-100") }}
    </form>
</div>
{% endblock %}