section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mid{
    text-align: center;
    color:darkslategrey;
    margin-bottom: 20px;
}
.dark{
  background-color: black;
}
.light{
  background-color: aliceblue;
}