{% extends "base.html" %}
{% from "components/form_field.html" import render_field %}

{% block content %}
<section id="contacts">
    <h2 class="mid">Зв’язатися зі мною</h2>


    <form method="POST" class="p-3 border rounded bg-white w-50 mx-auto">
        {{ form.hidden_tag() }}

        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.phone) }}
        {{ render_field(form.subject) }}
        {{ render_field(form.message) }}

        {{ form.submit(class="btn btn-success w-100") }}
    </form>
</section>
{% endblock %}